@import "../../_common_scss/common/common";
@import "../../_common_scss/material_design_style/layout";
@import "../../_common_scss/material_design_style/typography";
@import "../../_common_scss/my_style/my_style";

@mixin h-margin {
  margin-left: 1em;
  margin-right: 1em;
}

@mixin border-outline {
  border-radius: 0.35em;
  border-style: none;
  outline: none;
}

.container {
  @include layout-vertical;
  @include layout-around-justified;
}

.separator {
  @include my-style-separator;
  background-color: white;
  width: 85%;
  color: white;
}

.table {
  cursor: pointer;
}

.set {
  @include font-body1;
  @include layout-vertical;
  @include layout-around-justified;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.label {
  @include font-body1;
  @include my-style-font-family;
  @include h-margin;
  color: white;
  margin-bottom: 0.1em;
}

.tableSelected {
  color: $paper-amber-300;
}

.text {
  @include font-body1;
  @include my-style-font-family;
  @include h-margin;
  @include border-outline;
  color: white;
  background-color: $paper-blue-grey-400;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.text:focus {
  color: black;
  background-color: $paper-grey-200;
}

.button {
  @include will-change(background-color, 0.1s, ease);
  @include font-button;
  @include my-style-font-family;
  @include h-margin;
  @include border-outline;
  color: white;
  background-color: $paper-blue-grey-700;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.button:focus,
.button:hover {
  background-color: $paper-grey-500;
}

.button:active {
  color: black;
  background-color: $paper-grey-200;
}

.error {
  background-color: $paper-red-900;
}

.hidden {
  display: none;
}
