@import "../_common_scss/material_design_style/layout";
@import "../_common_scss/material_design_style/typography";
@import "../_common_scss/my_style/my_style";
@import "../_common_scss/common/common";

@mixin h-margin {
  margin-left: 1em;
  margin-right: 1em;
}

@mixin border-outline {
  border-radius: 0.35em;
  border-style: none;
  outline: none;
}

.sidebar-container {
  //@include layout-flex-2;
  width: 20vw;
}

.books-table-container {
  @include layout-vertical;
  @include layout-around-justified;
}

.books-table-separator {
  @include my-style-separator;
  background-color: white;
  width: 85%;
  color: white;
}

.books-table-table {
  @include noselect;
  cursor: pointer;
}

.books-table-table-active {
  color: $paper-amber-300;
}

.books-table-set {
  @include font-body1;
  @include layout-vertical;
  @include layout-around-justified;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.books-table-label {
  @include font-body1;
  @include my-style-font-family;
  @include h-margin;
  color: white;
  margin-bottom: 0.1em;
}

.books-table-text {
  @include font-body1;
  @include my-style-font-family;
  @include h-margin;
  @include border-outline;
  @include will-change(background-color, 0.1s, ease);
  @include will-change(color, 0.1s, ease);
  color: white;
  background-color: $paper-blue-grey-400;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.books-table-text:focus {
  color: black;
  background-color: $paper-grey-200;
}

.books-table-button {
  @include font-button;
  @include my-style-font-family;
  @include h-margin;
  @include border-outline;
  @include will-change(background-color, 0.1s, ease);
  color: white;
  background-color: $paper-blue-grey-700;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.books-table-button:focus,
.books-table-button:hover {
  background-color: $paper-grey-500;
}

.books-table-button:active {
  color: black;
  background-color: $paper-grey-200;
}

.books-table-button-active,
.books-table-button-active:focus {
  color: black;
  background-color: $paper-yellow-600;
}

.books-table-button-active:hover {
  background-color: $paper-yellow-300;
}

.books-table-error {
  color: white;
  background-color: $paper-red-900;
}

.books-table-error:focus {
  color: white;
  background-color: $paper-red-900;
}
