@import "../../_common_scss/common/common";
@import "../../_common_scss/material_design_style/typography";
@import "../../_common_scss/material_design_style/colors";
@import "../../_common_scss/my_style/my_style";
@import "../../_common_scss/material_design_style/layout";

.chartInfo {
  @include noselect();
  @include my-style-label;

  @include will-change(top, 0.05s, ease);
  @include will-change(left, 0.05s, ease);

  white-space: pre;

  position: absolute;

  z-index: 2;

  color: white;
  background-color: rgba(255, 255, 255, 0);
  opacity: $dark-primary-opacity;
}

.chartInfoHidden {
  display: none;
}

.mainContainer {
  @include layout-flex-10;
}

.chartContainer {
  @include will-change(opacity, 0.075s, ease);
  @include noselect();
  display: flex;
}

.chartCover {
  @include noselect();

  position: absolute;
  top: auto;

  z-index: 1;
}

.chartImage {
  max-width: 100%;
  max-height: 100%;
}

.chartHidden {
  opacity: 0;
}
