@mixin font-common-base {
  //font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@mixin font-common-code {
  //font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
}

@mixin font-common-expensive-kerning {
  text-rendering: optimizeLegibility;
}

@mixin font-common-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin font-display4-spec {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.044em;
  line-height: 120px;
}

@mixin font-display4 {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-display4-spec;
}

@mixin font-display3-spec {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.026em;
  line-height: 60px;
}

@mixin font-display3 {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-display3-spec;
}

@mixin font-display2-spec {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -.018em;
  line-height: 48px;
}

@mixin font-display2 {
  @include font-common-base;
  @include font-display2-spec;
}

@mixin font-display1-spec {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 40px;
}

@mixin font-display1 {
  @include font-common-base;
  @include font-display1-spec;
}

@mixin font-headline-spec {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 32px;
}

@mixin font-headline {
  @include font-common-base;
  @include font-headline-spec;
}

@mixin font-title-spec {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

@mixin font-title {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-title-spec;
}

@mixin font-subhead-spec {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin font-subhead {
  @include font-common-base;
  @include font-subhead-spec;
}

@mixin font-body2-spec {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin font-body2 {
  @include font-common-base;
  @include font-body2-spec;
}

@mixin font-body1-spec {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin font-body1 {
  @include font-common-base;
  @include font-body1-spec;
}

@mixin font-caption-spec {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 20px;
}

@mixin font-caption {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-caption-spec;
}

@mixin font-menu-spec {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

@mixin font-menu {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-menu-spec;
}

@mixin font-button-icon-spec {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: text-top;
  margin: 0 0.15em 0 0;
}

@mixin font-button-spec {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin font-button {
  @include font-common-base;
  @include font-common-nowrap;
  @include font-button-spec;
}

@mixin font-code2-spec {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@mixin font-code2 {
  @include font-common-code;
  @include font-code2-spec;
}

@mixin font-code1-spec {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@mixin font-code1 {
  @include font-common-code;
  @include font-code1-spec;
}
