@import "../../_common_scss/material_design_style/layout";
@import "../../_common_scss/material_design_style/typography";
@import "../../_common_scss/my_style/my_style";
@import "../chart_inputs/chart_input.module.scss";

.container {
  @include layout-vertical;
  @include layout-start-justified;
  position: absolute;
  z-index: 3;
}

.hidden {
  display: none;
}

@mixin btn {
  @include font-button;
  @include my-style-font-family;
  @include h-margin;
  @include border-outline;
  color: white;
  background-color: $paper-blue-grey-700;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.btn {
  @include btn;
}

.btn:focus,
.btn:hover {
  background-color: $paper-grey-500;
}

.btn:active {
  color: black;
  background-color: $paper-grey-200;
}

.operationBtnsContainer {
  @include layout-horizontal;
  @include layout-around-justified;
}

.operationBtn {
  @include layout-flex;
  @include btn;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $paper-blue-900;
}

.operationIcon {
  line-height: unset;
  font-weight: bolder;
}

.operationBtn:focus,
.operationBtn:hover {
  background-color: $paper-grey-500;
}

.operationBtnSelected {
  background-color: $paper-amber-600;
}
