@import "../_common_scss/material_design_style/colors";
@import "../_common_scss/material_design_style/layout";
@import "../_common_scss/material_design_style/typography";
@import "../_common_scss/my_style/my_style";

@mixin h-margin {
  margin-left: 1em;
  margin-right: 1em;
}

@mixin border-outline {
  border-radius: 0.35em;
  border-style: none;
  outline: none;
}

.statistic-container {
  @include layout-flex-10;
}

.statistic-title {
  @include font-subhead;
  @include my-style-font-family;
  @include h-margin;
  display: block;
  color: white;
  margin-top: 0.5em;
}

.statistic-separator {
  background-color: white;
  color: white;
  display: block;
  height: 2px;

  margin: 7.5px auto 7.5px auto;
  width: 97.5%;

  opacity: $dark-secondary-opacity;
}

.statistic-set {
  @include font-body1;
  @include layout-vertical;
  @include layout-around-justified;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.statistic-label {
  @include font-body1;
  @include my-style-font-family;
  @include h-margin;
  color: white;
}

.statistic-table {
  border-collapse: collapse;
  border: 1px solid white;
}

.statistic-table-cell {
  width: 10em;
  text-align: left;
  border: 1px solid white;
  padding-left: 0.5em;
}
